services:
  caddy:
    image: caddy
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    networks:
      - caddy_net

  website:
    image: ifc31c-iaw-yeste-toni
    networks:
      - caddy_net

networks:
  caddy_net: